<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Text Classifier Web App</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css">
    body{
        padding-top: 125px;
    }
</style>
</head>
<body>
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#"><img src="https://s-media-cache-ak0.pinimg.com/236x/4a/61/78/4a6178cf1fb8dd7c8d3ee39db751c549.jpg" style="max-height:50px; margin-top:-15px"></a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <!-- <li><a href="/predict">Predict</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.galvanize.com">Galvanize</a></li>
                <li><a href="http://www.libertymutual.com">Liberty Mutual</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Text Classifier Web App</h1>
        <p>This web app will take your text input and utilize our text classifier model and predict an article section name. Please submit your text below and click submit and you will receive your prediction</p>
    </div>
</div>
<div class="container">
  <form action="/predict" method='POST' class="form-inline">
      <div class="form-group">
          <label class="sr-only" for="user_input">Text for Search</label>
          <div class="input-group">
          <input type="text" class="form-control" id="user_input" name="user_inputs" placeholder="Type Anything Here">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
